pip==22.2.2
streamlit
python-telegram-bot==12.3.0
python-dotenv
pytube
ytmusicapi
spotipy
requests
ytdlp==2022.10.04
youtube_dl
ffprobe
imageio-ffmpeg
static-ffmpeg
ffmpeg
python-ffmpeg
spotdl==3.9.6
