pip==22.2.2
streamlit
python-telegram-bot==12.3.0
python-dotenv
pytube
ytmusicapi
spotipy
requests
git+https://github.com/yt-dlp/yt-dlp.git
youtube_dl
ffprobe
imageio-ffmpeg
static-ffmpeg
ffmpeg
python-ffmpeg
https://github.com/dotlambda/spotify-downloader.git
