pip==22.2.2
streamlit
python-telegram-bot==12.3.0
python-dotenv
pytube
ytmusicapi
spotipy
requests
git+https://github.com/yt-dlp/yt-dlp.git
youtube_dl
ffprobe
spotdl==3.9.6
git+https://github.com/deuteronomy-works/pyffmpeg.git
git clone git://source.ffmpeg.org/ffmpeg
